body {
  background-color: #003366;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #003366;
}

/*                       Header                         */
.header {
  display: flex;
  background-color: #87ceeb;
  color: white;
  height: 5em;
  border-radius: 10px;
  justify-content: space-around;
}

#searchIcon {
  width: 2em;
  height: auto;
}

.headerList {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

#searchInput {
  padding: 7px;
  padding-right: 50px;
  margin-left: 2em;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

#searchInput::placeholder {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.buttons {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.buttons:active {
  background-color: black;
  color: white;
}

#buttonGithub {
  background-color: transparent;
  border-style: none;
  margin-right: 1em;
}

.headerList {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

#buttonGithub:hover svg {
  fill: red;
}

#buttonGithub:active svg {
  fill: #b00b0b;
}
/*                   Content                       */
.weekWeather {
  display: flex;
  justify-content: center;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.dailyWeather {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 15px;
  margin: 0.5em;
  width: 30em;
  height: 15em;
  background-color: #87ceeb;
}

.dailyWeather img {
  width: 5em;
  height: auto;
}

/*                   Second Content                       */
.secondContent {
  border: 1px solid red;
  height: 56vh;
}

.currentWeather {
  border: 1px solid greenyellow;
}
